# ДЗ 3. 
Задание 1.

In [46]:
word = 'testing'
word_len = len(word)
letter = (len(word)/2)

if word_len%2 == 0:
    print(word[int(letter)-1:int(letter)+1])
else:
    print(word[int(letter)])

t

In [ ]:
#Задание 2.

In [5]:
s = 0
while True:
    x=int(input("Ввести число "))
    if x==0:
        break
    else:
        s+=x
print("Сумма = ",s)

Ввести число 98
Ввести число 156
Ввести число 8947
Ввести число 0
Сумма =  9201

In [ ]:
#Задание 3.

In [9]:
boys = ['Peter','Alex', 'John', 'Artur', 'Richard']
boys_sorted = sorted(boys)

girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
girls_sorted = sorted(girls)

boys_by_girls = zip (boys_sorted, girls_sorted)
list (boys_by_girls)

[('Alex', 'Emma'),
 ('Artur', 'Kate'),
 ('John', 'Kira'),
 ('Peter', 'Liza'),
 ('Richard', 'Trisha')]

In [ ]:
#Задание 4.

In [5]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for country_info in countries_temperature:
    print (country_info [0])
    temp_sum = 0
    for temp in country_info[1]:
        temp_sum += temp
        average_temp = temp_sum / len(country_info [1]) 
        celsius=(average_temp-32)*(5/9)
    print('{:.1f}'.format(celsius))

Thailand
23.9
Germany
13.8
Russia
3.7
Poland
12.0